@font-face {
  font-family: "iconfont"; /* Project id 3733041 */
  src: url('../font/iconfont.woff2?t=1667287041783') format('woff2'),
       url('../font/iconfont.woff?t=1667287041783') format('woff'),
       url('../font/iconfont.ttf?t=1667287041783') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiniu-watch:before {
  content: "\e67c";
}

.icon-qiniu-redo:before {
  content: "\e749";
}

.icon-qiniu-undo:before {
  content: "\e75d";
}

.icon-qiniu-hidden:before {
  content: "\e6a3";
}

.icon-qiniu-clear:before {
  content: "\e74b";
}

.icon-qiniu-open:before {
  content: "\e64d";
}

.icon-qiniu-save:before {
  content: "\e60f";
}

.icon-qiniu-list:before {
  content: "\e600";
}

.icon-qiniu-square:before {
  content: "\e650";
}

.icon-qiniu-eraser:before {
  content: "\e6ed";
}

.icon-qiniu-huabi:before {
  content: "\e601";
}

.icon-qiniu-text:before {
  content: "\e61c";
}

.icon-qiniu-rectangle:before {
  content: "\e61e";
}

.icon-qiniu-ellipse:before {
  content: "\e61f";
}

.icon-qiniu-line:before {
  content: "\e620";
}

.icon-qiniu-curve:before {
  content: "\e621";
}

.icon-qiniu-add:before {
  content: "\e622";
}

